html {
  height: -webkit-fill-available;
  height: -moz-available;
  height: fill-available;
}

body {
  min-height: -webkit-fill-available;
  min-height: -moz-available;
  min-height: fill-available;
}
